@import "tailwindcss";

:root {
  @apply bg-white text-gray-800;
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --accent-color: #f5a623;
  --text-color: #333;
  --border-color: #e0e0e0;  
  --hover-color: #f0f0f0;
      /* --font-family: 'Arial', sans-serif; */
  --font-family: 'Roboto', sans-serif;
}

body {
  @apply font-sans text-base leading-normal;
  font-family: var(--font-family);
}

h1, h2, h3, h4, h5, h6 {
  @apply font-extrabold font-mono ;
  
}


.subscribe-input{
  border: none;
  padding: 0;
  outline: none;
}

.subscribe-button,.btn{
  background-color: var(--primary-color);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-left: 2px;
}

/* index.css */

@keyframes scroll-x {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-infinite-scroll {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll-x 30s linear infinite;
}

/* Responsive tweaks (optional) */
@media (max-width: 768px) {
  .animate-infinite-scroll {
    animation-duration: 20s;
  }
}

.scroll-wrapper {
  overflow: hidden;
  width: 100%;
}





